.DS_Store
Thumbs.db

.idea/
*.iml
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
/shelf/
workspace.xml

.gradle/
local.properties
*.log

/build/
captures/
.externalNativeBuild/
.cxx/

*.apk
*.ap_
*.aab

proguard/
proguard-rules.pro

.cxx/

*.apk
*.ap_
*.aab